main {
	display: grid;
	grid-template-areas: "left  middle  right";
	grid-template-columns: 3fr 2fr 1fr;
	column-gap: 5px;
}

#info-1 {
	grid-area: left;
}

#info-2 {
	grid-area: middle;
}

#info-3 {
	grid-area: right;
}
