<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tree Game: Reloaded</title>

		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="grid.css" />

		<script src="lib/panzoom.js" defer></script>
		<script src="lib/break-eternity.js" defer></script>
		<script src="lib/vue.js" defer></script>
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" defer></script>

		<script src="js/constants/index.js" defer></script>
		<script src="js/constants/tree-main.js" defer></script>
		<script src="js/helper/format.js" defer></script>
		<script src="js/helper/buyUpg.js" defer></script>
		<script src="js/helper/tooltip.js" defer></script>
		<script src="js/helper/saving.js" defer></script>
		<script src="js/helper/layer.js" defer></script>
		<script src="js/helper/softcap.js" defer></script>
		<script src="js/helper/maxAll.js" defer></script>
		<script src="js/helper/key.js" defer></script>
		<script src="js/layers/reload.js" defer></script>
		<script src="js/game.js" defer></script>
		<script src="js/draw.js" defer></script>
		<script src="js/loop.js" defer></script>
	</head>
	<body onload="load()">
		<div id="main" class="absolute">
			<div
				id="tooltip"
				class="absolute"
				v-if="tooltipShown !== false"
				:style="{ left: tooltipCoords[0] + 'px', top: tooltipCoords[1] + 'px' }"
				v-html="tooltipShown"
			></div>
			<div id="info" class="absolute">
				<main>
					<div id="info-1">
						{{ format(game.x) }} x<span class="persec"> ({{ format(perSec.x) }}/s)</span><br>
						<span v-if="game.upgrades[10]">{{ format(game.y) }} y<span class="persec"> ({{ format(perSec.y) }}/s)</span></span><br>
						<span v-if="game.upgrades[20]">{{ format(game.z) }} z<span class="persec"> ({{ format(perSec.z) }}/s)</span></span>
					</div>
					<div id="info-2">
						<span v-if="game.reloadPoints.gte(1)">{{ format(game.reloadPoints) }} RelP</span><br>
						<button v-if="game.reloadPoints.gte(1e6)" onclick="maxAll()">max all (m)</button>
					</div>
					<div id="info-3">
						<button onclick="save()">save</button>
						<button @click="game.dev = !game.dev">devmode (NO TOUCHY): {{ game.dev }}</button>
						<button @click="game.autoSave = !game.autoSave">autosave: {{ game.autoSave }}</button>
					</div>
				</main>
			</div>
			<div id="pz-container">
				<div id="panzoom">
					<div v-for="(upg, id) in tree" class="no-pz">
						<button
							v-if="(upg.shown ? upg.shown() : game.upgrades[upg.parent]) || id == 0 "
							class="absolute tree-btn no-pz"
							:id="'btn' + id"
							:class="{ bought: game.upgrades[id], buyable: upg.glow ? upg.glow() : (!game.upgrades[id] && game[upg.curr].gte(upg.cost)), reload: id.toString().startsWith('rel') || id == 15 }"
							:style="{ top: upg.top * c.size.upg_size + 'px', left: upg.left * c.size.upg_size + 'px', width: upg.width + 'px', height: upg.height + 'px' }"
							@click.capture="buyUpg(id)"
							@mousemove="showTooltip(id)"
							@mouseleave="hideTooltip(id)"
						>
							{{ upg.short }}
						</button>
					</div>
					<canvas class="absolute" :width="c.size.upg_w * c.size.upg_size" :height="(c.size.upg_h + 1) * c.size.upg_size"></canvas>
				</div>
			</div>
		</div>
	</body>
</html>
