@font-face {
	font-family: "Inter";
	src: url("Inter/Inter-Regular.woff");
}

* {
	font-family: "Inter";
	overflow: hidden;
}

#main {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #333;
}

#info {
	top: 0;
	left: 0;
	right: 0;
	background-color: #ccc;
	padding: 5px;
	height: 100px;
	z-index: 3;
	font-size: 25px;
}

#pz-container, #panzoom {
	position: relative;
	min-width: 100vw;
	min-height: 100vh;
	padding: 3px;
	overflow: visible;
}

html, body {
	margin: 0;
}

.absolute {
	position: absolute;
}

.tree-btn {
	background-color: white;
	color: black;
	width: 50px;
	height: 50px;
	font-size: 25px;
	padding: 0;
	border-radius: 100px;
	border: none;
	z-index: 1;
	outline: none;
}

#tooltip {
	z-index: 5;
	pointer-events: none;
	background-color: white;
	padding: 5px;
	border: solid thin black;
}

.bought {
	background-color: green;
	/* pointer-events: none; */
}

.reload {
	background-color: lightblue;
}

.reload.bought {
	background-color: #008844
}

.buyable {
	box-shadow: red 0 0 10px;
}

#info-2 button, #info-3 button {
	width: 100%;
	height: 20px;
}

@media (max-width: 600px) {
	#info {
		height: 150px;
	}

	#info-2 button, #info-3 button {
		height: 40px;
	}

	.persec {
		display: none;
	}
}